<ion-view title="{{Title}}">
<ion-nav-bar class="bar bar-header nav-bar nav-title-slide-ios7 disable-user-behavior  no-animation bar-positive">
<div class="buttons left-buttons"><span class=""><button class="button button-icon button-clear ion-navicon" ng-click="showMenu()"></button></span></div>
</ion-nav-bar>
  <ion-content class="has-header">
	<div class="list">
	<div class="pages">
    <div class="chatpage">
    <div class="chatArea">
        <ul class="messages"></ul>
      </div>
       <label class="item item-input">
          <input type="text" class="inputMessage" placeholder="Nhập nội dung..." type="text"/>
        </label>
      </div>
    </div>
    <div class="loginpage">
      <div class="form">
        <label class="item item-input">
          <span class="input-label">NickName</span>
          <input type="text" class="usernameInput" maxlength="14"/>
        </label>
      </div>
    </div>
	</div>
  </ion-content>
</ion-view>
