
<ion-tabs class="tabs-icon-top tabs-dark">
  <!-- Pets Tab -->
  <ion-tab title="Online" icon="icon ion-chatbubble-working" href="#/tab/chat" badge="15" badge-style="badge-assertive">
    <ion-nav-view name="chat"></ion-nav-view>
  </ion-tab>


  <!-- Adopt Tab -->
  <ion-tab title="Danh bạ" icon="icon ion-person-stalker" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>


  <!-- About Tab -->
  <ion-tab title="Hòm thư" icon="icon ion-email" href="#/tab/saved">
    <ion-nav-view name="tab-saved"></ion-nav-view>
  </ion-tab>

</ion-tabs>
